
@font-face{
    font-family:'Roboto-regular' ;
    scr:url(../font/Roboto/Roboto-Regular.ttf)
}
@font-face{
    font-family:'Montserrat-Regular' ;
    scr:url(../font/Montserrat/Montserrat-Regular.ttf)
}
@font-face{
    font-family:'OpenSans-Regular' ;
    scr:url(../font/Open_Sans/OpenSans-Regular.ttf)
}
@font-face{
    font-family:'Otomanopee_One' ;
    scr:url(../font/Otomanopee_One/c.ttf)
}
@font-face{
    font-family:'Raleway-VariableFont' ;
    scr:url(../font/Raleway/Raleway-VariableFont_wght.ttf)
}

